<!-- <div class="bg"> </div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src='/assets/images/Hotel_Home.jpg/' ass="rounded mx-auto d-block" alt="...">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src='/assets/images/Reception-Home.jpg/' ass="rounded mx-auto d-block" alt="...">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src='/assets/images/Dining_home.jpg/' ass="rounded mx-auto d-block" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src='/assets/images/Food_Home.jpg/' ass="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src='/assets/images/Swmingopool_Home.jpg/' ass="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src='/assets/images/BanquetHall_Home.jpg/' ass="rounded mx-auto d-block" alt="...">
                </div>
            </div>
        </div> -->